From my lightning talk the problem i have choosen is a mixture of my first two propsoals. Facial recognition and recommendation engine for make up.

Problem statement: I am creating a recommendation engine that recommends a foundation shade based on image recognition of facial color. This recommender will take in an image and filter the image based on the hex values and then recommend a foundation based on the database of shades and recommend a foundation that matches closely.


Goal of predictive model:
    The measurement will based on how accurately it can identify and classify the skin (hex values) and match that to the brand foundation hex values that is closest.

Currently i have the csv of shades of makeup found on github, and i am identifying if i can collect images or maybe use OpenCV software from research i would like to learn this and use this instead, ive also looked into media pipe as a tool to identify facial recognition that is live ( in a 'selfie' format).

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Reading in the data

In [2]:
df = pd.read_csv('shades.csv')

In [3]:
df.head(3)

,brand,brand_short,product,product_short,hex,H,S,V,L,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2

In [4]:
df.drop(columns=['brand_short', 'product_short'])

          brand     product     hex     H     S     V   L  group
0    Maybelline      Fit Me  f3cfb3  26.0  0.26  0.95  86      2
1    Maybelline      Fit Me  ffe3c2  32.0  0.24  1.00  92      2
2    Maybelline      Fit Me  ffe0cd  23.0  0.20  1.00  91      2
3    Maybelline      Fit Me  ffd3be  19.0  0.25  1.00  88      2
4    Maybelline      Fit Me  bd9584  18.0  0.30  0.74  65      2
..          ...         ...     ...   ...   ...   ...  ..    ...
620     L'Oréal  True Match  eecfba  24.0  0.22  0.93  85      7
621     L'Oréal  True Match  e8c7b8  19.0  0.21  0.91  83      7
622     L'Oréal  True Match  f0cbb9  20.0  0.23  0.94  85      7
623     L'Oréal  True Match  e9c4b1  20.0  0.24  0.91  82      7
624     L'Oréal  True Match  eabea1  24.0  0.31  0.92  80      7

[625 rows x 8 columns]